* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #2986c4;
  --secondary: #212529;
  --tertiary: #ffffff;
  --light: #eaf0f4;
}
body {
  background-color: var(--tertiary);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--tertiary);
  border-bottom: 5px solid var(--primary-color);
  padding: 0 5%;
  position: fixed;
  top: 0;
}
header > h2 {
  width: min-content;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  margin: calc(1rem + 60px) auto 2rem;
}
h2 {
  color: var(--secondary);
  font-size: 30px;
}
h4 {
  font-weight: 900;
  font-size: 16px;
}

input[type="search"] {
  width: 150px;
  font-size: 16px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
  border: 3px solid var(--primary-color);
}
.current {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
.current div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.current div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  color: var(--secondary);
}
.day {
  width: 250px;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  background-color: var(--light);
  padding: 35px;
  border-radius: 10px;
  /* border: 1px solid var(--primary-color); */
}
